.c-datasets-filter-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  background: $color-white;
  box-shadow: 0 0 5px rgba($color-black, 0.25);

  > button:last-child {
    margin-top: 21px;
  }

  > * {
    margin: 0 20px 0 0;

    &:last-child { margin: 0; }

  }

  > button {
    margin-top: 25px;
  }

  .filters {
    display: flex;
    justify-content: flex-start;

    > * {
      margin: 0 20px 0 0;

      &:last-child { margin: 0; }
    }
  }
}
